.planWrapper {
  position: relative;
  width: clamp(380px, 65vw, 950px);
}

@media (max-width: 400px) {
  .planWrapper {
    width: 100%;
  }
}

.svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
